{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Clouds On Mars</title>
		<meta name="description" content="Clouds On Mars" />
		<meta name="keywords" content="cloudsOnMars" />
		<meta name="author" content="cloudsOnMars" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/loader.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/sections.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/fixed_elements.css' %}" />
		<ling rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.6/jquery.fullpage.css" />
 		<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
		<script src="{% static 'js/modernizr.custom.js' %}"></script>
	</head>
	<body class="stop-scrolling">
		<div id="loader-wrapper">
		    <div id="loader">
		    	<div class="loader-logo">
		    		<img src="{% static 'images/Clouds_logo_big_white.svg' %}" />
		    	</div>
		    	<div class="loader-cont">
		    		<img src="{% static 'images/clouds/loader1.svg' %}" />
		    		<h1>WE ARE</h1>
		    		<p>a dynamically developing startup</p> 
		    		<p>based in Warsaw and Seattle, </p>
		    		<p>crazy about data, machine learning and cloud</p>
		    	</div>
		    </div>
		</div>

		<div id="prlx-scene">
			<div class="bg1" data-depth="0.6">
				<img src="{% static 'images/clouds/bg_stars.svg' %}" class="svg" />
			</div>
<!-- 			<div class="bg1-changed">
				<img scr="images/clouds/bg_stars1.svg" class="svg" />
			</div> -->
		</div>

		<div class="bg" id="bg-top"></div>

		<div class="container" id="container">

			<div class="top-logo">
				<img src="{% static 'images/clouds/Clouds_logo_small2.svg' %}" class="svg" />
			</div>

			<div class="menu">
				<div class="menu-button" id="menu-button">
					<div class="menu-bar1"></div>
					<div class="menu-bar2"></div>
					<div class="menu-bar3"></div>
				</div>
				<div class="menu-content">
					<img class="menu-top-logo svg" src="{% static 'images/Clouds_logo_big.svg' %}" />
					<div class="menu-nav" id="menu-nav">
						<a href="#section1">HOME</a>
						<a href="#section2">VALUES</a>
						<a href="#section3">OPENINGS</a>
						<a href="#section4">PROCESS</a>
						<a href="#section8">CONTACT</a>
					</div>
					<div class="menu-social">
						<div class="menu-social-inner">
							<p>Follow us:</p>
							<img src="{% static 'images/facebook-icon.svg' %}" />
							<img src="{% static 'images/facebook-icon.svg' %}" />
						</div>
					</div>
				</div>
			</div>

			<div class="social-links">
				<div class="social-links-inner">
					<p>Follow us</p>
					<img src="{% static 'images/facebook-icon.svg' %}" />
					<img src="{% static 'images/facebook-icon.svg' %}" />
				</div>
			</div>

			<div class="scroll-down-img" id="scroll-down">
				<div class="scroll-down">
					<img src="{% static 'images/clouds/steps_icons-03.svg' %}" />
					<p>SCROLL</p>
				</div>
				<div class="scroll-up">
					<img src="{% static 'images/clouds/steps_icons-03.svg' %}" />
					<p>SCROLL UP</p>
				</div>
			</div>

			<div class="copyrights" id="copyrights">
				<p>@ 2018 CLOUDS ON MARS</p>
			</div>

			<div class="bot"></div>

<!-- 			<div id="side-nav" class="side-nav">
				<nav id="left-nav">
					<a href="#home" class="cbp-fbcurrent">Section 1</a>
					<a href="#values">Section 2</a>
					<a href="#openings">Section 3</a>
					<a href="#process">Section 4</a>
					<a href="#contact">Section 5</a>
					<a href="#contact">Section 6</a>
				</nav>
			</div> -->

			<div id="side-nav" class="side-nav">
				<nav id="left-nav">
					<a data-menuanchor="section1" href="#section1" class="cbp-fbcurrent">Section 1</a>
					<a data-menuanchor="section2" href="#section2">Section 2</a>
					<a data-menuanchor="section3" href="#section3">Section 3</a>
					<a data-menuanchor="section4" href="#section4">Section 4</a>
					<a data-menuanchor="section5" href="#section5">Section 5</a>
					<a data-menuanchor="section6" href="#section6">Section 6</a>
					<a data-menuanchor="section7" href="#section7">Section 7</a>
					<a data-menuanchor="section8" href="#section8">Section 8</a>

				</nav>
			</div>

			<div id="fullpage" class="sections">

				<section id="home" class="home section" data-anchor="section1">
					<div class="home-nav">
						<div class="bg"></div>
						<div class="home-back">
							<img src="{% static 'images/clouds/view1back.svg' %}" class="svg" />
						</div>
						<!-- scroll on click with hash code -->
						<div class="par"><a href="#section2" id="home-values">VALUES</a></div>
						<div class="par"><a href="#section3" id="home-open">OPENINGS</a></div>
						<div class="par"><a href="#section4" id="home-process">PROCESS</a></div>
					</div>
				</section>

				<section data-anchor="section2" id="openings" class="section">
					<div class="gallery">
						<div class="bg"></div>
						<div class="gal-items">
							<div id="first" class="gal-item">
								<img class="svg" src="{% static 'images/clouds/values1.svg' %}" />
								<p>BUILD AI - STAY HUMAN</p>
							</div>
							<div id="second" class="gal-item">
								<img class="svg" src="{% static 'images/clouds/values2.svg' %}" />
								<p>MOVE FAST - BE PERFECT</p>
							</div>
							<div id="third" class="gal-item gal-center">
								<img class="svg" src="{% static 'images/clouds/values3.svg' %}" />
								<p>BE A PRO - LEARN EVERYTHING</p>
							</div>
							<div id="fourth" class="gal-item">
								<img class="svg" src="{% static 'images/clouds/values4.svg' %}" />
								<p>HAVE FUN - MAKE BUSINESS</p>
							</div>
							<div id="fifth" class="gal-item">
								<img class="svg" src="{% static 'images/clouds/values5.svg' %}" />
								<p>LOVE YOUR CUSTOMER</p>
							</div>
						</div>
						<div class="gal-content">
							<div class="gal-btn">
								<button id="prev"><i class="left"></i></button>
								<button id="next"><i class="right"></i></button>
							</div>
							<div class="slider activeSlide">
								<img src="{% static 'images/clouds/stay.svg' %}"/>
								<p>First Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, fuga itaque commodi. Quidem facere totam perspiciatis voluptatibus harum obcaecati blanditiis itaque in quos libero architecto, ratione tempore necessitatibus alias quam.</p>
							</div>
							<div class="slider">
								<img src="{% static 'images/clouds/stay.svg' %}"/>	
								<p>Second Illo fugiat earum dicta aliquam eius, iure deserunt neque perspiciatis veniam temporibus unde qui ut voluptates provident dolores nulla, maxime, eveniet quis enim consequatur incidunt cumque cupiditate odio! Cum, praesentium.</p>
							</div>
							<div class="slider">
								<img src="{% static 'images/clouds/stay.svg' %}"/>
								<p>Third Magnam architecto quisquam recusandae, molestiae rerum, adipisci. Excepturi quo repellendus numquam, nesciunt harum ipsum eaque assumenda dolore, placeat est provident quasi itaque architecto ducimus fugit eveniet eum voluptate rem dolorum.</p>
							</div>
							<div class="slider">
								<img src="{% static 'images/clouds/stay.svg' %}"/>
								<p>Fourth Quis voluptatem voluptas alias numquam, soluta ratione dolorem quibusdam culpa voluptates dicta animi enim accusamus libero doloribus laudantium ipsum est nihil ad minus? Est veniam ipsa, optio quaerat aliquam earum.</p>
							</div>
							<div class="slider">
								<img src="{% static 'images/clouds/stay.svg' %}"/>
								<p>Fifth Mollitia explicabo obcaecati, voluptate quod, quae debitis delectus! Hic tempore assumenda autem laboriosam aperiam, error deserunt voluptates quos veritatis totam. Excepturi nemo voluptas fugiat incidunt placeat similique aut recusandae asperiores!</p>
							</div>
						</div>
					</div>
				</section>

				<section data-anchor="section3" id="values" class="values section">
					<div class="val-content">
						<div class="val-inner">
							<div class="butt butt-disable" id="val-but-up"><i class="up"></i></div>
							<div class="butt" id="val-but-down"><i class="down"></i></div>
							<div class="val-jobs">
								<div class="jobs-sections job-sec-active">
									<ul class="val-col">
										<li id="1">BI EXPLORER</li>
										<li id="2">AZURE EXPLORER</li>
										<li id="1">BI EXPLORER</li>
										<li id="3">ASSISTANT SALES EXPLORER</li>
										<li id="1">JUNIOR BI EXPLORER</li>
									</ul>
									<ul class="val-col">
										<li id="1">MASTER AI AND DEEP LEARNING EXPLORER</li>
										<li id="3">ASSISTANT SALES EXPLORER</li>
										<li id="1">BI EXPLORER</li>
									</ul>
								</div>
								<div class="jobs-sections">
									<ul class="val-col">
										<li id="1">BI EXPLORER</li>
										<li id="2">AZURE EXPLORER</li>
										<li id="1">BI EXPLORER</li>
										<li id="3">ASSISTANT SALES EXPLORER</li>
										<li id="1">JUNIOR BI EXPLORER</li>
									</ul>
<!-- 									<ul class="val-col">
										<li id="1">MASTER AI AND DEEP LEARNING EXPLORER</li>
										<li id="3">ASSISTANT SALES EXPLORER</li>
										<li id="1">BI EXPLORER</li>
									</ul> -->
								</div>
							</div>
						</div>
						<div class="val-desc">
							<div id="1" class="val-text">
								<div class="val-text-inner">
									<div class="val-text-cont">
										<div class="return"><i class="back"></i></div>
										<h2>AZURE EXPLORER</h2>
										<div class="val-text-info" id="val-info">
											<h4>WE ARE LOOKING FOR:</h4>
											<p>ID is 1;BI EXPLORER  What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
											</p>
											<h4>YOUR RESPONSIBILITIES:</h4>
											<p>ID is 1;BI EXPLORER  What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
											</p>
											<p>ID is 1;BI EXPLORER  What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
											</p>
											<p>ID is 1;BI EXPLORER  What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
											</p>
											<p>ID is 1;BI EXPLORER  What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
											</p>
										</div>
									</div>
									<div class="val-text-jobs">
										<div class="val-text-jobs-wrapper">
											<img src="{% static 'images/clouds/jobs_logo.svg' %}" />
											<h2>WE THINK</h2>
											<p>ID is 1;BI EXPLORER  What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
											</p>
											<button type="button">APPLY NOW</button>
										</div>
									</div>
								</div>
							</div>
							<div id="2" class="val-text">
								<p>ID is 2;AZURE EXPLORER  What is Lorem Ipsum?
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
							</div>
							<div id="3" class="val-text">
								<p>ID is 3; What is Lorem Ipsum?
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
								</p>
							</div>
						</div>
					</div>
				</section>

				<section data-anchor="section4" id="step1" class="section">
					<div class="step1-cont">
						<div class="bg"></div>
						<div class="step1-inner step" id="step1-plx">
							<div class="step1-desc-wrapper">
								<img src="{% static 'images/clouds/step_1_font.svg' %}" />
								<div class="step-desc">
									<h1>SELECT</h1>
									<p>If you like our culture and one of our openings please talk to our bot.
									</p>
									<span>No boring forms to fill in.</span>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section data-anchor="section5" id="contact" class="section">
					<div class="step1-cont">
						<div class="bg"></div>
						<div class="step1-inner step" id="step1-plx">
							<div class="step1-desc-wrapper">
								<img src="{% static 'images/clouds/step_2_font.svg' %}" />
								<div class="step-desc">
									<h1>QUERY</h1>
									<p>Interviews are scheduled for one day in a person in our office or via Skype. We will talk about like, technology and business. We may even write some code together. You will centainly meet your new very human manager. Then we will use our quantum powers to provide you with speedy answer, data based feedback and sometimes an offer.
									</p>
									<span>No more waiting forever.</span>
								</div>
							</div>
						</div>
					</div>
				</section>


				<section data-anchor="section6" id="contact" class="section">
					<div class="step1-cont">
						<div class="bg"></div>
						<div class="step1-inner step" id="step1-plx">
							<div class="step1-desc-wrapper">
								<img src="{% static 'images/clouds/step_3_font.svg' %}" />
								<div class="step-desc">
									<h1>QUERY</h1>
									<p>If you like us and we like we will sign a waiver and you are all set to start an adventure at Clouds On Mars.
									</p>
									<span>No more dullness.</span>
								</div>
							</div>
						</div>
					</div>
				</section>


				<section data-anchor="section7" id="contact" class="section">
					<div class="step1-cont">
						<div class="bg"></div>
						<div class="step1-inner step" id="step1-plx">
							<div class="step1-desc-wrapper">
								<img src="{% static 'images/clouds/step_4_font.svg' %}" />
								<div class="step-desc">
									<h1>QUERY</h1>
									<p>Interviews are scheduled for one day in a person in our office or via Skype. We will talk about like, technology and business. We may even write some code together. You will centainly meet your new very human manager.
									</p>
									<span>No more loneliness.</span>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section data-anchor="section8" id="contact" class="section">
					<div class="cont-content">
						<div class="cont-par">
							<div class="contact-us">
								<h2>CONTACT US</h2>
								<p class="cont-z0">Greate that you have passed by. Come more often! Follow us on Facebook and Linkendl - then you will get latest updates on our mission, the new searches for explorers and events we organize to celebrate with out fans.</p>
								<div class="cont-info">
									<h2 class="cont-z1">PL</h2>
									<span class="cont-z1">Clouds on Mars Sp.z o.o.</span>
								</div>
								<p class="cont-z2">Address: Zgoda 3/8, Warsaw</p>
								<p class="cont-z2"><a href="mailto: hermaszewski@cloudsonmars.com">hermaszewski@cloudsonmars.com</a></p>
							</div>
							<div class="follow-us">
								<h2>FOLLOW US</h2>
								<div class="cont-info-bottom">
									<div class="cont-info">
										<h2 class="cont-z1">US</h2>
										<span class="cont-z1">Clouds on Mars Inc.</span>
									</div>
									<p class="cont-z2">Address: Zgoda 3/8, Warsaw</p>
									<p class="cont-z2">Mail: <a href="mailto: hermaszewski@cloudsonmars.com">hermaszewski@cloudsonmars.com</a></p>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<!-- imagesloaded for checking if all images have been loaded for preloaded screen animation -->
		<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
		<script>
		</script>
		<!-- script for img.svg and imagesLoaded -->
		<script>
			var left_planet, left_line;
			$('#container').imagesLoaded( { background: true },
				function() {
			    setTimeout(function(){
			    	$('body').removeClass('stop-scrolling');
					$('body').addClass('loaded');
					$( '#home' ).addClass('home-loaded');
			    }, 0);
			    // timeout is need to keep function unintialized before all animations are done
			  //   setTimeout(function(){
					// $(function() {
					// 	scrollLayout.init();
					// });
			  //   }, 900);


		        jQuery('img.svg').each(function(){
		            var $img = jQuery(this);
		            var imgID = $img.attr('id');
		            var imgClass = $img.attr('class');
		            var imgURL = $img.attr('src');

		            jQuery.get(imgURL, function(data) {
		                // Get the SVG tag, ignore the rest
		                var $svg = jQuery(data).find('svg');
		                // Add replaced image's ID to the new SVG
		                if(typeof imgID !== 'undefined') {
		                    $svg = $svg.attr('id', imgID);
		                }
		                // Add replaced image's classes to the new SVG
		                if(typeof imgClass !== 'undefined') {
		                    $svg = $svg.attr('class', imgClass+' replaced-svg');
		                }

		                // Remove any invalid XML tags as per http://validator.w3.org
		                $svg = $svg.removeAttr('xmlns:a');

		                // Replace image with new SVG
		                $img.replaceWith($svg);

		                if(imgURL == '/static/images/clouds/view1back.svg') {
							left_planet = $('circle#left_planet')
							, left_line = $('circle#left_line')
							var right_line = $('circle#right_line')
							, small_planet = $('circle#small_planet')
							, small_planet2 = $('circle#small_planet2')
							, small_planet3 = $('circle#small_planet3')
							, right_line2 = $('circle#right_line2')
							, right_line3 = $('circle#right_line3');

							//now call our Aimation at circle...
							animateAtCircle(left_planet,left_line,50000, function(){console.log('finished');});
							animateAtCircle(small_planet,right_line,5000, function(){console.log('finished');});
							animateAtCircle(small_planet2,right_line2,20000, function(){console.log('finished');});
							animateAtCircle(small_planet3,right_line3,35000, function(){console.log('finished');});
		                }

		            }, 'xml');

		        });

			});

			function checkForHover() {
				return ($('#home-process:hover').length === 1 ||
					$('#home-values:hover').length === 1 ||
					$('#home-open:hover').length === 1)
			}

			var animateAtCircle = function (elementToAnimate, circlePath, duration, callback){
			  //I would see:
			  var imagesPerSecond = 60;
			  //and calculate the sum of steps i need:
			  var sumSteps = duration / (1000/imagesPerSecond);
			  //an circle has 360 degrees
			  //so my stepwidth is:
			  var stepWidth = 360 / sumSteps;
			  //let us begin with step 1
			  var step = 1;
			  //before, i need a Variable to store my Timeout
			  var pathAnim;

			  var len = 0;
			  var slowmo = 3;
			  //and begin with our animation function
			  var anim=function(){

				if(checkForHover()) {
					len += stepWidth/slowmo;
					$('.home-back svg').css('opacity', '0.5');
				} else {
					len += stepWidth;
					$('.home-back svg').css('opacity', '1');
				}
			    //rotate the circle relative
			    //to the midpoint of circlePath
			    elementToAnimate.attr("transform",`rotate(
			      ${len},
			      ${circlePath.attr('cx')},
			      ${circlePath.attr('cy')}
			      )`);

			    //until step smaller then sumSteps
			    if (true) {
			      //set step to next step
			      step ++
			      //and wait for creating next rotation an call anim again...
			      pathAnim = setTimeout(anim, 1000/imagesPerSecond);
			    } else {
			      //animation is finished;
			      clearTimeout(pathAnim);
			      //call callback function
			      if (callback) return callback();
			    }
			  }
			  //now call our anim loop function
			  anim();
			}

			var sel;
			$('.values ul > li').click(function() {
				// console.log($(this).attr('id'));
				// console.log($('.values .val-desc > #' + $(this).attr('id')));
				sel = `div[id="${$(this).attr('id')}"]`;

				$('.values .val-inner').css('transform', 'translateX(-200%)');
				$(sel).css('transform', 'translate(0%, 0%)');
			});

			$('.values .return').click(function() {
				$(sel).css('transform', 'translateX(+200%)')
				$('.values .val-inner').css('transform', 'translateX(0%)');
			});

		</script>
		<script src="{% static 'js/jquery.easing.min.js' %}"></script>
		<script src="{% static 'js/waypoints.min.js' %}"></script>
		<script src="{% static 'js/jquery.debouncedresize.js' %}"></script>

		<!-- script for parallax with tweenMax -->
		<script>
			// why it doesn't work on firefox?
			var text = $("#step1 .step-desc");
			var span = $("#step1 .step-desc span");
			var div1 = $('.bg1');
			var div2 = $('.bg1-changed');

			$(document).on("mousemove",function(e) {  
			  var ax = ($(window).innerWidth()/2- e.pageX)/15;
			  var ay = ($(window).innerHeight()/2- e.screenY)/15;
			  var ztext = 10;
			  var z = 0;

			  TweenMax.to('.bg1', .9, {
			    x: ax/2,
			    y: ay/2,
			  });
			  // TweenMax.to('#step1-plx', 0.7, {transform:"rotateX("+(-ay/2)+"deg) rotateY("+(ax/2)+"deg)"});
			  tweenParallax('.step', 0.7, -ay/2, ax/2);
			  tweenParallax('.cont-par', 1, -ay/5, ax/5);
			  // tweenParallax('.par', 0.7, ay, ax);
			});

			function tweenParallax(elem, time, ay, ax) {
			  TweenMax.to(elem, time, {transform:"rotateX("+(ay)+"deg) rotateY("+(ax)+"deg)"});
			}
		</script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/utils/Draggable.min.js"></script>
<!-- 		<script>
			$(document).mousemove(function(e) {
			  parallaxIt(e, ".bg1", -10);
			  // parallaxIt(e, "img", -0);
			});

			function parallaxIt(e, target, movement) {
			  var $this = $(document);
			  // var relX = e.pageX - $this.offset().left;
			  // var relY = e.pageY - $this.offset().top;
			  console.log(100-($this.width() / 2) / $this.width() * movement);
			  TweenMax.to(target, 1, {
			    x: (100-$this.width() / 2) / $this.width() * movement,
			    y: (100-$this.height() / 2) / $this.height() * movement
			  });
			}
		</script> -->

		<!--  script for full page settings -->
		<script src="{% static 'js/fullPage.js-master/jquery.fullpage.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.6/jquery.fullpage.js"></script>
		<script>
			$(document).ready(function() {
				$('#fullpage').fullpage({
					//Navigation
					menu: '#left-nav',
					easingcss3: 'cubic-bezier(1.000, -0.440, 0.265, 1.385)',
					scrollingSpeed: 800,

	
					afterLoad: function(anchorLink, index){
						var loadedSection = $(this);
						var imgClass = $('#bg1').attr('class');

						// controlling scroll down
						if(index > 1 && index != 8) {
							// $("#scroll-down").css('display', 'none');
							$("#scroll-down").addClass("scroll-dis");
						} else if (index == 8) {
							$("#scroll-down .scroll-down").css('display', 'none');
							$("#scroll-down .scroll-up").css('display', 'block');
							$("#scroll-down").removeClass("scroll-dis");
						} else {
							$("#scroll-down").removeClass("scroll-dis");
							$("#scroll-down .scroll-down").css('display', 'block');
							$("#scroll-down .scroll-up").css('display', 'none');
						}

						if(index == 3) {
							setTimeout(function(){
				                $('#bg-top').css('display', 'none');
							}, 100); // change to 100

			                if(typeof imgClass !== 'undefined') {
			                    $('#bg1').attr('class', imgClass+' bg1-changed');
			                }
		                	// add class to style fixed section
			                $("#container").addClass('value-active');
			                $("body").css('background-color', "#ff5719");
			                $(".menu-content").addClass('menu-change3sec');
						}

						// if(index > 5) {
						// 	$('#step1-plx').css('transform', 'rotateX(-20deg) rotateY(10deg)');
						// }
					},
					onLeave: function(index, nextIndex, direction) {
						if($('#val-info:hover').length === 1) {
							return false;
						}
						var leavingSection = $(this);
						var imgClass = $('#bg1').attr('class');

						//using index to change background styles for 3rd section
						if(index == 3) {
							// super efekt
							setTimeout(function(){
				                if(typeof imgClass !== 'undefined') {
				                    $('#bg1').attr("class", "");
				                    // should be add svg and replaced-svg
				                }

							}, 200);
			                $("body").css('background-color', "black");

			                $("#container").removeClass('value-active');
			                $('#bg-top').css('display', 'block');
			                $(".menu-content").removeClass('menu-change3sec');

						} else if(index==2 && direction == 'down') {
							// setTimeout(function(){
				   //              if(typeof imgClass !== 'undefined') {
				   //                  $('#bg1').attr('class', imgClass+' bg1-changed');
				   //                  // console.log($('#bg1 circle').css('fill', 'green'));
				   //              }
			    //             	// add class to style fixed section
			    //             	// $('#bg-top').css('display', 'none');
				   //              $("#container").addClass('value-active');
				   //              $("body").css('background-color', "#ff5719");
							// }, 1000); // change to 100

						} else if(index==4 && direction == 'up') {
							// setTimeout(function(){
				   //              if(typeof imgClass !== 'undefined') {
				   //                  $('#bg1').attr('class', imgClass+' bg1-changed');
				   //              }
				   //              // $('#bg-top').css('display', 'none');
			    //             	// add class to style fixed section
				   //              $("#container").addClass('value-active');
				   //              $("body").css('background-color', "#ff5719");
							// }, 1000); // change to 100
						}

					}

				});

			});

			// control buttons for openings
			$('.values .butt').on('click', function() {
				var button = $(this);
				var activeSec = $('.jobs-sections.job-sec-active');
				if (button.attr('id') == 'val-but-down') {
					if(activeSec.next()[0]) {
						activeSec.removeClass('job-sec-active');
						activeSec.next().addClass('job-sec-active');
					}
					if($('.jobs-sections.job-sec-active').next()[0] == undefined)
						button.addClass('butt-disable');
					if($('.jobs-sections.job-sec-active').prev()[0])
						$('#val-but-up').removeClass('butt-disable');
				} else {
					if(activeSec.prev()[0]) {
						activeSec.removeClass('job-sec-active');
						activeSec.prev().addClass('job-sec-active');
					}
					if($('.jobs-sections.job-sec-active').prev()[0] == undefined)
						$('#val-but-up').addClass('butt-disable');
					if($('.jobs-sections.job-sec-active').next()[0])
						$('#val-but-down').removeClass('butt-disable');
				}
			});

			$('#menu-button').click(function() {
		    	$('body')[0].classList.toggle('stop-scrolling');
				$(this).context.parentElement.classList.toggle("menu-clicked");
			});

			// for menu links
			$('#menu-nav > a').on('click', function() {
				console.log('what the fuck');
		    	$('body')[0].classList.toggle('stop-scrolling');
		    	$('.menu')[0].classList.toggle("menu-clicked");
			});

			$('#scroll-down .scroll-down').on('click',function() {
				$.fn.fullpage.moveSectionDown();
			});

			$('#scroll-down .scroll-up').on('click',function() {
				console.log('siema');
				$.fn.fullpage.moveTo(1);
			});
			// $("#val-info").hover(function() {
			// 	console.log('siemka');
			// });

		</script>

		<!-- script for gallery -->
		<script>
		(function(){
			var items = $('.gal-item');
			var pos = [];
			// when loaded positions are calculated

			items.css('left', function(index) {
				// should include margins
				var widthItems = $('.gal-items')[0].offsetWidth / 5;
				var widthItem = $('.gal-item')[0].offsetWidth;
				pos.push((index * widthItems) + widthItem/2);
				if (index == 2) pos[index] = pos[index];
				return (pos[index] - 20);
			});


			// $($(items[1]).context.childNodes[3]).css('display', 'block');

			// $($(items[3]).context.childNodes[3]).css('display', 'block');

			$($('.gal-item > p')[1]).css('display', 'block');
			$($('.gal-item > p')[3]).css('display', 'block');

			// $($($('.gal-item > svg')[1])[0]).context.classList.add('gal-even');
			// $($($('.gal-item > svg')[3])[0]).context.classList.add('gal-even')

			var slides = $('.slider');
			slides.first().before(slides.last());
			// console.log(slides);

			// on button press
			$('.gal-btn > button').on('click', function() {
				var items = $('.gal-item');
				var trans_zero = 0;
				var items = $('.gal-item');
				// Register button
				var button = $(this);
				// Register active slide
				var activeSlide = $('.gal-center');

				slides = $('.slider');
				var activeSlide = $('.activeSlide');

				// Next function
				if (button.attr('id') == 'next') {
					var last_elem = $('.gal-item:eq(0)').clone(true);
					items.last().after(last_elem);
					items = $('.gal-item');
					items.last().css('left', '+100%');

					// Move first slide to the end so the user can keep going forward
					for(var i = 0; i < 5; i++) {
						if(i == 0) {
							items.first().css('left', '-100%');
						} else if(i == 2) {
							$(items[i]).css('left', pos[i-1]);
							$(items[i]).removeClass('gal-center');
						} else if (i == 3) {
							$(items[i]).css('left', pos[i-1]);
							$(items[i]).addClass('gal-center');
						} else {
							$(items[i]).css('left', pos[i-1]);
						}
						$($(items[i]).context.childNodes[3]).css('display', 'none');
						$($($('.gal-item > svg')[i])[0]).context.classList.remove('gal-even');

					}
					setTimeout(function(){
						// last element with timeout to add transition
						$(items[i]).css('left', pos[i-1]);
						items.first().remove();
					}, 50); // change to 100

					slides.last().after(slides.first());
					// Move active class to the right
					activeSlide.removeClass('activeSlide').next('.slider').addClass('activeSlide');

					// after clicking add text under svg only after 2 and 4
					$($(items[2]).context.childNodes[3]).css('display', 'block');
					$($(items[4]).context.childNodes[3]).css('display', 'block');

					// the same with colors
					$($($('.gal-item > svg')[2])[0]).context.classList.add('gal-even');
					$($($('.gal-item > svg')[4])[0]).context.classList.add('gal-even');

				} else if(button.attr('id') == 'prev') {
					var first_elem = $('.gal-item:eq(4)').clone(true);
					items.first().before(first_elem);
					first_elem.css('left', '-100%');
					items = $('.gal-item');
					// Move first slide to the end so the user can keep going forward
					for(var i = 5; i > 0; i--) {
						if(i == 5) {
							items.last().css('left', '+100%');
						} else if(i == 2) {
							$(items[i]).css('left', pos[i]);
							$(items[i]).addClass('gal-center');
						} else if(i == 3) {
							$(items[i]).css('left', pos[i]);
							$(items[i]).removeClass('gal-center');
						} else {
							$(items[i]).css('left', pos[i]);
						}
						$($(items[i]).context.childNodes[3]).css('display', 'none');
						$($($('.gal-item > svg')[i])[0]).context.classList.remove('gal-even');
					}
					setTimeout(function(){
						$(items[0]).css('left', pos[0]);
						items.last().remove();
					}, 50);

				    slides.first().before(slides.last());
					activeSlide.removeClass('activeSlide').prev('.slider').addClass('activeSlide');
				    // Move active class to the left

					// after clicking add text under svg only after 2 and 4
					$($(items[1]).context.childNodes[3]).css('display', 'block');
					$($(items[3]).context.childNodes[3]).css('display', 'block');

					// the same with colors
					$($($('.gal-item > svg')[1])[0]).context.classList.add('gal-even');
					$($($('.gal-item > svg')[3])[0]).context.classList.add('gal-even');
				}


			});
		})();
                                
		</script>
	</body>
</html>
