{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Clouds On Mars</title>
		<meta name="description" content="Clouds On Mars" />
		<meta name="keywords" content="cloudsOnMars" />
		<meta name="author" content="cloudsOnMars" />
		<link rel="shortcut icon" type="image/png" href="{% static 'images/clouds/favicon32.png' %}"/>
 		<link href="https://cdn.botframework.com/botframework-webchat/latest/botchat.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/loader.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/sections.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/fixed_elements.css' %}" />
		<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'css/media425px.css' %}" />
 		<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
		<script src="{% static 'js/VHChromeFix.js' %}"></script>
	</head>
	<body class="stop-scrolling">
		<div id="loader-wrapper">
		    <div id="loader">
		    	<div class="loader-logo">
		    		<img src="{% static 'images/Clouds_logo_big_white.svg' %}" />
		    	</div>
		    	<div class="loader-cont">
		    		<img src="{% static 'images/clouds/loader1.svg' %}" />
		    		<h1>WE ARE</h1>
		    		<p>a dynamically developing startup</p> 
		    		<p>based in Warsaw and Seattle, </p>
		    		<p>crazy about data, machine learning and cloud</p>
		    	</div>
		    </div>
		</div>

		<div id="prlx-scene">
			<div class="bg1" data-depth="0.6">
				<img src="{% static 'images/clouds/bg_stars.svg' %}" class="svg" />
			</div>
		</div>

		<div class="bg" id="bg-top"></div>

		<div class="container" id="container">

			<div class="top-line"></div>
			<div class="bottom-line"></div>

			<div class="top-logo">
				<img src="{% static 'images/clouds/Clouds_logo_small2.svg' %}" class="svg" />
			</div>

			<div class="menu">
				<div class="menu-button" id="menu-button">
					<div class="menu-bar1"></div>
					<div class="menu-bar2"></div>
					<div class="menu-bar3"></div>
				</div>
				<div class="menu-content">
					<div class="menu-content-inner">
						<img class="menu-top-logo svg" src="{% static 'images/Clouds_logo_big.svg' %}" />
						<div class="menu-nav" id="menu-nav">
							<a href="#section1">HOME</a>
							<a href="#section2">VALUES</a>
							<a href="#section3">OPENINGS</a>
							<a href="#section4">PROCESS</a>
							<a href="#section8">CONTACT</a>
						</div>
						<div class="menu-social">
							<div class="menu-social-inner">
								<p>Follow us:</p>
								<a href="https://www.facebook.com/CloudsOnMarscom/" target="_blank"><img src="{% static 'images/clouds/facebook_basic.svg' %}" class="svg"/></a>
								<a href="https://www.instagram.com/clouds_on_mars_/" target="_blank"><img src="{% static 'images/clouds/instagram_basic.svg' %}" class="svg" /></a>
								<a href="https://www.linkedin.com/company/clouds-on-mars/" target="_blank"><img src="{% static 'images/clouds/linkedin_basic.svg' %}" class="svg" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="social-links">
				<div class="social-links-inner">
					<p>Follow us</p>
					<a href="https://www.facebook.com/CloudsOnMarscom/" target="_blank"><img src="{% static 'images/clouds/facebook_basic.svg' %}" class="svg"/></a>
					<a href="https://www.instagram.com/clouds_on_mars_/" target="_blank"><img src="{% static 'images/clouds/instagram_basic.svg' %}" class="svg" /></a>
					<a href="https://www.linkedin.com/company/clouds-on-mars/" target="_blank"><img src="{% static 'images/clouds/linkedin_basic.svg' %}" class="svg" /></a>
				</div>
			</div>

			<div class="scroll-down-img" id="scroll-down">
				<div class="scroll-down">
					<img src="{% static 'images/clouds/steps_icons-03.svg' %}" class="svg" />
					<p>SCROLL</p>
				</div>
				<div class="scroll-up">
					<img src="{% static 'images/clouds/steps_icons-03.svg' %}" class="svg" />
					<p>SCROLL UP</p>
				</div>
			</div>

			<div class="copyrights" id="copyrights">
				<p>@ 2018 CLOUDS ON MARS</p>
			</div>

			<div class="bot">
				<img src="{% static 'images/clouds/bot_icon.svg' %}" class="svg" />
			    <div class="bot-ths">
			    	<div class="bot-ths-1">
			    		<p>Hey, I'm Cloudius and I'm here to help you through the application.</p>
			    	</div>
			    	<div class="bot-ths-2">
			    		<p>There is no opening for you?</p>
			    		<p>Follow us on Facebook and Linkedin - then you will get latest updates on out mission, the new searches for explorers and events we organize to celebrate with our fans.</p>
			    	</div>
			    	<div class="bot-ths-3">
			    		<p>Thanks for visit us! See you next time!</p>
			    	</div>
			    </div>
			</div>

			<div class="bot-chat">
				<div class="bot-close-but">
					<div class="bot-bar1"></div>
					<div class="bot-bar2"></div>
				</div>
			    <div id="bot_chat">
			    </div>
			    <script src="https://cdn.botframework.com/botframework-webchat/latest/botchat.js"></script>
			    <script>
					BotChat.App({
					            directLine: { secret: 'etAF1piYhzI.cwA.SM4.TCH8wOxqbH1gvaV5d3WOxyNDZttR8dR7_qGCpPDQiBw' },
					            user: { id: 'Uzytkownik' },
					            bot: { id: 'f8566ab8-8499-4d84-807e-b75e7a356d6f' },
					            resize: 'detect'
					        }, document.getElementById("bot_chat"));
			    </script>
			</div>

			<div id="side-nav" class="side-nav">
				<nav id="left-nav">
					<a data-menuanchor="section1" href="#section1" class="cbp-fbcurrent"></a>
					<a data-menuanchor="section2" href="#section2"></a>
					<a data-menuanchor="section3" href="#section3"></a>
					<a data-menuanchor="section4" href="#section4"></a>
					<a data-menuanchor="section5" href="#section5"></a>
					<a data-menuanchor="section6" href="#section6"></a>
					<a data-menuanchor="section7" href="#section7"></a>
					<a data-menuanchor="section8" href="#section8"></a>
				</nav>
			</div>

			<div id="fullpage" class="sections">

				<section id="home" class="home section" data-anchor="section1">
					<div class="home-nav">
						<div class="home-back">
							<img src="{% static 'images/clouds/view1back.svg' %}" class="svg" />
						</div>
						<div><a href="#section2" id="home-values">VALUES</a></div>
						<div><a href="#section3" id="home-open">OPENINGS</a></div>
						<div><a href="#section4" id="home-process">PROCESS</a></div>
					</div>
				</section>

				<section data-anchor="section2" id="openings" class="section">
					<div class="gallery">

						<div class="gal-items">
							<div id="first" class="gal-item">
								<img class="svg" src="{% static 'images/clouds/values1.svg' %}" />
								<p>BUILD AI - STAY HUMAN</p>
								<div class="mob-gallery-cont">
									<h3>BUILD AI - STAY HUMAN</h3>
									<p>Our everyday life is technological ultra-modernity - we work with the newest technologies using best services and creating inventive 
									solutions. We move agile in the digital cloud. However, we still believe that the greatest invention of nature is human, and we are 
									humanly sensitive. We value relationships, emotions and people. When we talk we want to hear, When we work together we want to 
									support each other. In this sense, despite the craziness for modernity, we are and wadi to remain old-fashioned.
									</p>
								</div>
							</div>
							<div id="second" class="gal-item">
								<img class="svg" src="{% static 'images/clouds/values2.svg' %}" />
								<p>MOVE FAST - BE PERFECT</p>
								<div class="mob-gallery-cont">
									<h3>MOVE FAST - BE PERFECT</h3>
									<p>We focus on the speed of action because we know that digital revolution is not a walk in the park. We believe that our clients have the 
									right to derive business benefits from the solutions we provide as soon as possible. We want to be first in creating and implementing 
									them. At the same 6me, we focus on quality, we care about details, visual beauty and representation.
									</p>
								</div>
							</div>
							<div id="third" class="gal-item gal-center">
								<img class="svg" src="{% static 'images/clouds/values3.svg' %}" />
								<p>BE A PRO - LEARN EVERYTHING</p>
								<div class="mob-gallery-cont">
									<h3>BE A PRO - LEARN EVERYTHING</h3>
									<p>If you are with us it means that you are already a world-class specialist in your domain. However, what we do requires constant 
									everyday learning. We value people with the hunger for knowledge, a natural desire to develop strengths and weaknesses, openness to 
									give and receive feedback. We help each other develop their skills through honest recognition for strengths and openness in naming 
									what needs improvement. Working with us is the best MBA in the digital revolution.
									</p>
								</div>
							</div>
							<div id="fourth" class="gal-item">
								<img class="svg" src="{% static 'images/clouds/values4.svg' %}" />
								<p>HAVE FUN - MAKE BUSINESS</p>
								<div class="mob-gallery-cont">
									<h3>HAVE FUN - MAKE BUSINESS</h3>
									<p>We love what we do, otherwise it would not make sense. That is why our office provides positive, relaxed and informal environment. 
									It is easier to face challenges in a friendly atmosphere. And we have plenty of theml We have no doubt that only those strongly 
									business-oriented are successful. We do not tolerate internal politics, bureaucracy and lack of accountability. We value those who 
									provide solutions and say Yes, I can'.
									</p>
								</div>
							</div>
							<div id="fifth" class="gal-item">
								<img class="svg" src="{% static 'images/clouds/values5.svg' %}" />
								<p>LOVE YOUR CUSTOMER</p>
								<div class="mob-gallery-cont">
									<h3>LOVE YOUR CUSTOMER</h3>
									<p>We want to be part of our clients' success. We listen carefully to hear their needs and we put our heart into responding to them as best 
									we can. We are available. We want our work to have a real impact on their business. We build lasting and positive relationships based on 
									mutual respect. We value customers' information, intellectual value and data, protecting their confidentiality, integrity and security.
									</p>
								</div>
							</div>
						</div>
						<div class="gal-content">
							<div class="gal-btn">
								<button id="prev"><i class="left"></i></button>
								<button id="next"><i class="right"></i></button>
							</div>
							<div class="cont-par slider-inner">
								<div class="slider activeSlide">
									<img src="{% static 'images/clouds/have_fun.svg' %}"/>
									<p>We love what we do, otherwise it would not make sense. That is why our office provides positive, relaxed and informal environment. 
									It is easier to face challenges in a friendly atmosphere. And we have plenty of theml We have no doubt that only those strongly 
									business-oriented are successful. We do not tolerate internal politics, bureaucracy and lack of accountability. We value those who 
									provide solutions and say Yes, I can'.
									</p>
								</div>
								<div class="slider">
									<img src="{% static 'images/clouds/be_pro.svg' %}"/>
									<p>If you are with us it means that you are already a world-class specialist in your domain. However, what we do requires constant 
									everyday learning. We value people with the hunger for knowledge, a natural desire to develop strengths and weaknesses, openness to 
									give and receive feedback. We help each other develop their skills through honest recognition for strengths and openness in naming 
									what needs improvement. Working with us is the best MBA in the digital revolution.
									</p>
								</div>
								<div class="slider">
									<img src="{% static 'images/clouds/love_customer.svg' %}"/>
									<p>We want to be part of our clients' success. We listen carefully to hear their needs and we put our heart into responding to them as best 
									we can. We are available. We want our work to have a real impact on their business. We build lasting and positive relationships based on 
									mutual respect. We value customers' information, intellectual value and data, protecting their confidentiality, integrity and security.
									</p>
								</div>
								<div class="slider">
									<img src="{% static 'images/clouds/build_ai.svg' %}"/>
									<p>Our everyday life is technological ultra-modernity - we work with the newest technologies using best services and creating inventive 
									solutions. We move agile in the digital cloud. However, we still believe that the greatest invention of nature is human, and we are 
									humanly sensitive. We value relationships, emotions and people. When we talk we want to hear, When we work together we want to 
									support each other. In this sense, despite the craziness for modernity, we are and wadi to remain old-fashioned.
									</p>
								</div>
								<div class="slider">
									<img src="{% static 'images/clouds/move_fast.svg' %}"/>
									<p>We focus on the speed of action because we know that digital revolution is not a walk in the park. We believe that our clients have the 
									right to derive business benefits from the solutions we provide as soon as possible. We want to be first in creating and implementing 
									them. At the same 6me, we focus on quality, we care about details, visual beauty and representation.
									</p>
								</div>
							</div>
						</div>

						<div class="gal-nav">
							<nav>
								<a class="gal-link active-gal-link"></a>
								<a class="gal-link"></a>
								<a class="gal-link"></a>
								<a class="gal-link"></a>
								<a class="gal-link"></a>
							</nav>
						</div>
					</div>
				</section>

				<section data-anchor="section3" id="values" class="values section">
					<div class="mob-val-cont">
						
					  <div class="mob-val-inner">
					  	{% for job in jobs %}
					    <div class="mob-val-tab">
					      <input id="tab-{{job.id}}" type="radio" checked name="tabs1">
					      <label for="tab-{{job.id}}">{{ job.title }}</label>
					      <i class="round-plus"></i>
						  <div class="mob-val-text-info">
								<h4>WE ARE LOOKING FOR:</h4>
								<p>{{ job.looking_for|safe }}
								</p>
								<h4>YOUR RESPONSIBILITIES:</h4>
								<p>{{ job.responsibilities|safe }}
								</p>
								<div class="val-text-jobs">
									<div class="val-text-jobs-wrapper">
										<img src="{% static 'images/clouds/jobs_logo.svg' %}" />
										<h2>WE THINK</h2>
										<p>that is a shame to boast about truisms: a great atmosphere, development opportunities or an attractive motivational package. Just come to us and see for yourself that we are cool...
										</p>
										<button type="button">APPLY NOW</button>
									</div>
								</div>
						  </div>
					    </div>
					    {% endfor %}
					  </div>

					</div>
					<div class="sec3-bg"></div>
					<div class="val-content content-hidden">
						<div class="val-inner">
							<div class="butt butt-disable" id="val-but-up"><i class="up"></i></div>
							<div class="butt" id="val-but-down"><i class="down"></i></div>
							<div class="val-jobs">
								<div class="jobs-sections job-sec-active">
									{% for jobs in jobs_list %}
									<ul class="val-col">
										{% for job in jobs %}
										<li id="{{ job.id }}">{{ job.title }}</li>
										{% endfor %}
									</ul>
									{% endfor %}
								</div>
<!-- 								<div class="jobs-sections">
									<ul class="val-col">
										<li id="1">BI EXPLORER</li>
										<li id="2">AZURE EXPLORER</li>
										<li id="1">BI EXPLORER</li>
										<li id="3">ASSISTANT SALES EXPLORER</li>
										<li id="1">JUNIOR BI EXPLORER</li>
									</ul>
								</div> -->
							</div>
						</div>
						<div class="val-desc">
							{% for job in jobs %}
							<div id="{{ job.id }}" class="val-text">
								<div class="val-text-inner">
									<div class="val-text-cont">
										<div class="return"><i class="back"></i></div>
										<h2>{{ job.title }}</h2>
										<div class="val-text-info" id="val-info">
											<h4>WE ARE LOOKING FOR:</h4>
											<p>{{ job.looking_for|safe }}
											</p>
											<h4>YOUR RESPONSIBILITIES:</h4>
											<p>{{ job.responsibilities|safe }}
											</p>
										</div>
									</div>
									<div class="val-text-jobs">
										<div class="val-text-jobs-wrapper">
											<img src="{% static 'images/clouds/jobs_logo.svg' %}" />
											<h2>WE THINK</h2>
											<p>that is a shame to boast about truisms: a great atmosphere, development opportunities or an attractive motivational package. Just come to us and see for yourself that we are cool...
											</p>
											<button type="button">APPLY NOW</button>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</section>

				<section data-anchor="section4" id="step1" class="section">
					<div class="step1-cont">
						<div class="step1-inner step" id="step1-plx">
							<div class="step1-desc-wrapper">
								<img src="{% static 'images/clouds/step_1_font.svg' %}" />
								<div class="step-desc">
									<div class="step-anim">
										<h2>SELECT</h2>
										<span class="text__first-bg"></span>
									</div>
										<p class="step-hidden-delay">If you like our culture and one of our openings, please send us your resume or linked-in profile
										via email to: work@CloudsOnMars.com. We will answer all emails.
										</p>
									<span class="step-hidden-delay">No boring forms to fill in.</span>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section data-anchor="section5" id="step2" class="section">
					<div class="step1-cont">
						<div class="bg-sec"></div>
						<div class="step1-inner step" id="step1-plx">
							<div class="step1-desc-wrapper">
								<img src="{% static 'images/clouds/step_2_font.svg' %}" />
								<div class="step-desc">
									<div class="step-anim">
										<h2>QUERY</h2>
										<span class="text__first-bg"></span>
									</div>
									<p class="step-hidden-delay">Interviews are scheduled for one day in person in our office or via Skype. We will talk about life,
									about AI and about business. We may even write some code together. You will certainly meet
									your new very human manager. Then we will use our quantum powers to provide you with
									speedy answer, data based feedback and sometimes an offer.
									</p>
									<span class="step-hidden-delay">No more waiting forever.</span>
								</div>
							</div>
						</div>
					</div>
				</section>


				<section data-anchor="section6" id="step3" class="section">
					<div class="step1-cont">
						<div class="bg-sec"></div>
						<div class="step1-inner step" id="step1-plx">
							<div class="step1-desc-wrapper">
								<img src="{% static 'images/clouds/step_3_font.svg' %}" />
								<div class="step-desc">
									<div class="step-anim">
										<h2>COMMIT</h2>
										<span class="text__first-bg"></span>
									</div>
									<p class="step-hidden-delay">If you like us and we like we will sign a waiver and you are all set to start an adventure at Clouds On Mars.
									</p>
									<span class="step-hidden-delay">No more dullness.</span>
								</div>
							</div>
						</div>
					</div>
				</section>


				<section data-anchor="section7" id="step4" class="section">
					<div class="step1-cont">
						<div class="bg-sec"></div>
						<div class="step1-inner step" id="step1-plx">
							<div class="step1-desc-wrapper">
								<img src="{% static 'images/clouds/step_4_font.svg' %}" />
								<div class="step-desc">
									<div class="step-anim">
										<h2>RUN</h2>
										<span class="text__first-bg"></span>
									</div>
									<p class="step-hidden-delay">We will have your new machine and new project ready on your day 1. Your new mates will make
									sure you know how to have fun with us. We are informal and really fast, so you will know
									everyone before first week is gone.
									</p>
									<span class="step-hidden-delay">No more loneliness.</span>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section data-anchor="section8" id="contact" class="section">
					<div class="cont-content">
						<div class="cont-par">
							<div class="contact-us">
								<h2 class="cont-z1 step-hidden-delay">CONTACT US</h2>
								<p class="cont-z1 step-hidden-delay cont-sec-anim">Greate that you have passed by. Come more often! Follow us on Facebook and Linkedin - then you will get latest updates on our mission, the new searches for explorers and events we organize to celebrate with out fans.</p>
								<div class="cont-info cont-z2">
									<h2 class="cont-z1">PL</h2>
									<span class="cont-z1">Clouds on Mars Sp.z o.o.</span>
									<span class="text__cont-bg"></span>
								</div>
								<p class="cont-z2 step-hidden-delay cont-third-anim">Address: Zgoda 3/8, Warsaw</p>
								<p class="cont-z2 step-hidden-delay cont-third-anim">Mail: <a href="mailto: ticketto@cloudsonmars.com">ticketto@cloudsonmars.com</a></p>
								<div class="mob-cont-info">
									<div class="cont-info">
										<h2 class="cont-z1">US</h2>
										<span class="cont-z1">Clouds on Mars Inc.</span>
									</div>
									<p class="cont-z2">Address: 1900 PUGET DR  STE 206, Renton, WA</p>
									<p class="cont-z2">Mail: <a href="mailto: ticketto@cloudsonmars.com">ticketto@cloudsonmars.com</a></p>
								</div>
							</div>
							<div class="follow-us">
								<h2 class="cont-z1 step-hidden-delay">FOLLOW US</h2>
								<div class="contact-social-links step-hidden-delay cont-z1 cont-sec-anim">
									<div class="contact-social-links-inner">
										<a href="https://www.facebook.com/CloudsOnMarscom/" target="_blank"><img src="{% static 'images/clouds/facebook_basic.svg' %}" class="svg"/></a>
										<a href="https://www.instagram.com/clouds_on_mars_/" target="_blank"><img src="{% static 'images/clouds/instagram_basic.svg' %}" class="svg" /></a>
										<a href="https://www.linkedin.com/company/clouds-on-mars/" target="_blank"><img src="{% static 'images/clouds/linkedin_basic.svg' %}" class="svg" /></a>
									</div>
								</div>
								<div class="cont-info-bottom cont-z2">
									<div class="cont-info">
										<h2 class="cont-z1">US</h2>
										<span class="cont-z1">Clouds on Mars Inc.</span>
										<span class="text__cont-bg"></span>
									</div>
									<p class="cont-z2 step-hidden-delay cont-third-anim">Address: 1900 PUGET DR  STE 206, Renton, WA</p>
									<p class="cont-z2 step-hidden-delay cont-third-anim">Mail: <a href="mailto: ticketto@cloudsonmars.com">ticketto@cloudsonmars.com</a></p>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<!-- <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script> -->
		<!-- imagesloaded for checking if all images have been loaded for preloaded screen animation -->
		<!-- <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script> -->
		<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
		<script src="{% static 'js/jquery.easing.min.js' %}"></script>
		<script src="{% static 'js/waypoints.min.js' %}"></script>
		<script src="{% static 'js/jquery.debouncedresize.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/utils/Draggable.min.js"></script> -->

		<!--  script for full page settings -->
		<script src="{% static 'js/fullPage.js-master/dist/jquery.fullpage.min.js' %}"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.6/jquery.fullpage.js"></script> -->
		<!-- <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script> -->
		
		<script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
		<script src="{% static 'js/slider.js' %}"></script>

	</body>
</html>
