*, *:after, *:before { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	text-transform: none;
	text-decoration: none;
	color: white;
}

body, html { font-size: 100%; padding: 0; margin: 0;}

h2, p, h4, h1 {
	margin: 0;
	padding: 0;
}
button:focus {outline:0;}
ul {
	list-style: none;
	margin: 0;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Set all parents to full height */
html, body, 
.container,
.side-bar,
.sections,
.sections section { 
	height: 100% !important;
	/*border: 1px solid blue;*/
}

/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
.side-nav > nav {
	position: fixed;
	z-index: 9999;
	left: 40px;
	top: 50%;
	width: 26px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.side-nav > nav a {
	display: block;
	position: relative;
	z-index: 9999;
	color: transparent;
	width: 13px;
	height: 13px;
	outline: none;
	margin: 10px 0;
	border-radius: 50%;
	border: 1px solid #717171;
}

.no-touch .side-nav > nav a:hover {
	background: rgba(255,255,255,0.6);
	background: #fff;
}

/*.side-nav > nav a.cbp-fbcurrent {
	background: #ff5719;
}*/

.side-nav > nav a.active {
	background: #ff5719;
}

.value-active .side-nav > nav a {
	border: 1px solid black;
}

.value-active .side-nav > nav a.active {
	background-color: black;
}

.value-active .side-nav > nav a:hover {
	background: #000;
}
