* {
    font-family: 'Open Sans';
}

#loader-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ff5719;
    z-index: 50000;
    background-image: url("../images/clouds/bg_stars2.4a76f8040a49.svg");
}

#loader-wrapper #loader {
	z-index: 10050; 
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.loader-logo {
    height: 20%;
    width: 20%;
    margin-bottom: 2em;
}

.loader-logo img {
    height: 152px;
    width: 170px;
    width: 100%;
    height: 100%;
}

.loader-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader-cont img {
    width: 260px;
    height: 240px;
    height: 100%;
    width: 56%;
    margin: 0 auto;
}

.loader-cont h1 {
    margin: .4em 0;
    font-size: 45px;
}

.loader-cont p {
    /*width: 50%;*/
    margin:auto;
    text-align: justify;
    letter-spacing: 2px;
    font-size: 14px;
}

#loader-wrapper h1 {
    color: #EEEEEE;
}

/* to prevent scroll when loading */
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* AFTER BODY LOADED CLASS ADDED */

.loaded #loader-wrapper {
    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);  /* IE 9 */
    transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
}

/*.loaded #loader {
    opacity: 0;
}*/

.loaded #loader-wrapper {
    visibility: hidden;
}

.loaded #loader-wrapper {
    -webkit-transition: all 0.3s 0.3s ease-out; 
    transition: all 0.3s 0.3s ease-out;
}

/* ================== */

/* Problem with browser, but fixes after resize */
.container {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); 
}

.loaded .container {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;

    -webkit-transition: all 0.3s 0.3s ease-out; 
    transition: all 0.3s 0.3s ease-out;
}
