@font-face {
    font-family: 'Olney';
    src: url("../fonts/olney/olney_light.otf") format("opentype");
}

* {
	font-family: 'Olney', 'Open Sans';
}

.top-line,
.bottom-line {
    display: none;
    position: fixed;
    z-index: 1000;
}

/* ========= TOP-LOGO ================================ */

.top-logo {
	position: fixed;
	top: 30px;
	z-index: 1000;
	left: 50%;
	width: 20%;
	height: 60px;
	transform: translateX(-50%);
}

.top-logo svg {
	width: 250px;
	height: 60px;
	width: 100%;
	height: 100%;
    cursor: pointer;
}

.top-logo .top-logo-small {
	fill: #ff5719;
}

.value-active .top-logo .top-logo-small {
	fill: black;
}

@media only screen and (max-width: 1300px) {
	.top-logo {
		position: fixed;
		top: 20px;
		left: 50%;
		width: 17%;
		height: 50px;
	}
}


/* ========= SOCIAL-LINKS ================================ */

.social-links {
	position: absolute;
	top: 30px;
	z-index: 1000;
	right: 40px;
}

.disable-social.social-links {
    display: none;
}

.social-links .social-links-inner {
	position: relative;
	float: left;
}

.social-links .social-links-inner p {
	float: left;
	margin: 5px 7px;
    font-size: 14px;
}

.social-links .social-links-inner svg {
	width: 30px;
	height: 30px;
	float: left;
	margin: 0 8px;
}

/*.social-links-inner a:hover svg path {
    fill: red;
}*/


.social-links svg:hover .border-black {
    display: none;
}

.value-active .social-links svg:hover {
    color: black;
}



/* ========= SCROLL-DOWN-IMG ================================ */

.scroll-down-img {
	position: fixed;
	bottom: 20px;
	z-index: 1000;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	transition: 1s ease-in-out;
    visibility: visible;
}

.scroll-down-img .scroll-up {
	display: none;
}

.scroll-down-img svg {
	width: 30px;
	height: 30px;
	margin-left: 3px;
	transform: rotate(180deg);
}

.scroll-down-img .scroll-up svg {
	transform: rotate(0deg);
	margin-left: 11px;
}

.scroll-down-img .scroll-down svg {
    margin-left: 5px;
}

.scroll-down-img p {
	font-size: 12px;
	color: #717171;
}

/* after dis is added */
.scroll-down-img.scroll-dis p {
	opacity: 0;
	transition: 1s opacity;
}

.scroll-down-img.scroll-dis svg {
	-webkit-animation: scrollanim 2s; /* Safari 4+ */
	-moz-animation:    scrollanim 2s; /* Fx 5+ */
	-o-animation:      scrollanim 2s; /* Opera 12+ */
	animation:         scrollanim 1.5s; /* IE 10+, Fx 29+ */
	animation-fill-mode: forwards;
	transform: rotate(180deg);
}

.scroll-down-img.scroll-dis {
	opacity: 0;
    visibility: hidden;
	transition: 2s opacity, 2s visibility;
}

.value-active .scroll-down-img p {
    color: black;
}

@keyframes scrollanim {
  0% {
  	transform: translateX(0px) rotate(-180deg);
  }
  30% {
   	transform: translateY(-20px) rotate(-180deg);
  }
  100% {
  	transform: translateY(1000px) rotate(-180deg);
  }
}


/* ========= COPYRIGHTS ================================ */

.copyrights {
	position: fixed;
	bottom: 30px;
	z-index: 1000;
	left: 40px;
}

.copyrights p {
	font-size: 12px;
	color: #717171;
}

.value-active #copyrights p {
	color: black;
}

/* ========= BOT ================================ */

.bot {
    position: fixed;
    bottom: 30px;
    z-index: 1000;
    right: 40px;
    cursor: pointer;
}

.bot svg {
    width: 70px;
    height: 70px;
}

.bot svg text {
    font-family: 'Olney';
}

/* ========= BOT CHAT ================================ */
.bot-chat {
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    right: 0px;
    height: 100%;
    width: 30%;
    transform: translateX(100%);
    transition: transform .6s;
}

.bot-open {
    transform: translateX(0%);
}

.value-active {}

.bot-close-but {
    height: 40px;
    width: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5000;
    cursor: pointer;
}

.bot-close-but .bot-bar1, 
.bot-close-but .bot-bar2 {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 8px 0;
    transition: 0.4s;
}

.bot-close-but .bot-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.bot-close-but .bot-bar2 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-2px, 0px);
}


.wc-adaptive-card {
    width: auto;
}

.wc-header {
    display: none;
}

.wc-adaptive-card * {
    color: white;
}

.wc-message-callout {
    display: none;
}

.wc-message-groups {
    top: 0;
    background-color: #ff5719;
    height: calc(100% - 80px);
}

.value-active .wc-message-groups {
    background-color: #222222;
}

.wc-message-group-content {
    margin-top: 432px;
}

.wc-message-wrapper {
    animation: none;
    transition: none;
}

.wc-message-group-content p {
    font-size: 12px;
}

.wc-message-group-content p,
.wc-message-group-content button {
    font-size: 12px;
}

.wc-message-group-content button:hover {
    border: 1px solid white;
}

.wc-message-group-content button:focus {
    background-color: transparent;
}


.wc-message-from {
    display: none;
}

.wc-message-content {
    box-shadow: none;
}

.wc-message-from-bot .wc-message-content {
    background-color: rgb(209,82,46);
    border-radius: 20px;
    position: relative;
}

.wc-message-from-bot .wc-message-content:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 11px solid transparent;
  border-right: 11px solid rgb(209,82,46);
  border-top: 22px solid transparent;
  border-bottom: 11px solid rgb(209,82,46);
  left: -5px;
  bottom: 0px;
  z-index: -1;
}

.wc-message-from-bot .wc-message-content .wc-card {
    border: none;
    background-color: transparent;
}

.wc-message-from-bot .wc-card button {
    color: white;
    border-radius: 10px;
}

.wc-message-from-bot {
    position: relative;
}

.wc-message-from-me .wc-message-content {
    background-color: white;
    border-radius: 20px;
    padding: 7px 25px;
}

.wc-message-from-me .wc-message-content:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 11px solid transparent;
  border-left: 11px solid white;
  border-top: 25px solid transparent;
  border-bottom: 11px solid white;
  right: -5px;
  bottom: 0px;
  z-index: -1;
}

.wc-message-from-me .wc-message-content * {
    color: #ff5719;
}

.wc-console {
    height: 80px;
    padding: 5px 20px;
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wc-console .wc-textbox {
    margin-right: 30px;
}

.wc-console .wc-textbox input {
    color: #ff5719;
}

.wc-console .wc-upload {
    top: 0;
    bottom: 0;
}

.wc-console .wc-upload,
.wc-console .wc-textbox,
.wc-console .wc-send {
    position: relative;
}

.wc-console .wc-upload,
.wc-console .wc-textbox {
    width: auto;
}

.wc-console .wc-textbox {
    border: 1px solid #ff5719;
    padding: 15px 20px;
    border-radius: 15px;
}

.wc-console .wc-send {
    display: none;
}


.value-active .bot-st0-mind{fill:black;}
.value-active .bot-st0{fill:white;}



.bot .bot-ths {
    position: absolute;
    bottom: 5px;
    left: -220px;
}


.bot-ths div:before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #ff5719;
    border-right: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-right: -10px;
    z-index: -1;
}

.bot-ths div.bot-ths-2:before {
    top: 70%;
}

.visible-bot.bot-ths-1,
.visible-bot.bot-ths-2,
.visible-bot.bot-ths-3 {
    display: block;
    animation-delay: 10s;
    -webkit-animation: scaleIn 0.6s ease-in-out;
    -moz-animation: scaleIn 0.6s ease-in-out;
    animation: scaleIn .6s ease-in-out;
    transform-origin: 100% 100% 0;
}

.bot-ths div {
    display: none;
    padding: 1em 1.5em;
    font-size: 11px;
    background-color: #ff5719;
    border-radius: 25px;
    max-width: 200px;
}

.value-active .bot-ths div:before {
    border-left-color: #222222;
}

.bot-ths .bot-ths-2 {
    background-color: #222222;
}

.bot-ths div.bot-ths-2:before {
    border-left-color: #222222;
}

.value-active .bot-ths div {
    background-color: #222222;
}

@keyframes scaleIn {
  from {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.bubble-wrap.fade-in {
}

/* ========= MENU  ================================ */

.menu .menu-button {
	position: fixed;
	top: 30px;
	z-index: 25000;
	left: 40px;
	cursor: pointer;
}

.menu .menu-button .menu-bar1, 
.menu .menu-button .menu-bar2, 
.menu .menu-button .menu-bar3 {
    width: 35px;
    height: 3px;
    background-color: #fff;
    margin: 8px 0;
    transition: 0.4s;
}

.menu .menu-content {
	display: block;
	height: 100%;
	width: 0%;
	z-index: 20000;
	background-color: #ff5719;
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
	/*background-image: url("../images/clouds/bg_stars2.svg");*/
}

.menu-content-inner {
    width: 80%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-content svg.menu-top-logo {
	width: 230px;
	height: 120px;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.menu-content .menu-nav {
	position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.menu-content .menu-nav a {
	font-size: 40px;
	width: 50%;
	display: block;
	margin: .3em auto;
	color: black;
}

.menu-content .menu-nav a:hover {
	color: white;
}

.menu-content .menu-social {
	position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
}

.menu .menu-social-inner {
	position: relative;
}

.menu-content .menu-social p {
	color: #000;
}

.menu-content .menu-social svg {
	width: 40px;
	height: 40px;
	margin-top: 10px;
	margin: 10px;
}

.menu-social svg * {
    fill: black;
}

.menu-social svg:hover .active-path {
    fill: white;
}

.menu-social svg:hover *:not(.active-path) {
    fill: #ff5719;
}

.menu-social svg:hover .border-black {
    display: none;
}

.menu .menu-active-link {
	color: white !important;
}

/* MENU BUTTON CLICKED */

.menu-clicked .menu-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.menu-clicked .menu-bar2 {opacity: 0;}

.menu-clicked .menu-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.menu-clicked .menu-content {
	width: 100%;
}

/* on third section MENU-CHANGE3SEC */

.menu-content.menu-change3sec {
	background-color: #1b1b19;
}

.menu-content.menu-change3sec a,
.menu-content.menu-change3sec p {
	color: white;
}

.menu-content.menu-change3sec a:hover {
	color: #ff5719;
}

.menu-change3sec.menu-content svg.menu-top-logo * {
	fill: #ff5719;
}

.menu-change3sec .menu-social svg * {
    fill:white;
}

.menu-change3sec  .menu-social svg:hover .active-path {
    fill: #ff5719;
}

.menu-change3sec .menu-social svg:hover *:not(.active-path) {
    fill: #1b1b19;
}

@media only screen and (min-width: 1440px) {
    .menu-content .menu-nav {
        /*top: 19%;*/
    }  

    .menu-content .menu-nav a {
        font-size: 40px;
        margin-top: 1em;
    }
}

